@tailwind base;
@tailwind components;
@tailwind utilities;

.error{
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.5em red;
}

html, body {
  min-height: 100%;
  background-color: antiquewhite;
}

#loginPage {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#welcomeText {
    font-weight: bold;
    font-size: 30px;
    background-image: linear-gradient(90deg, red, blue);
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

#h1AndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signUpBody {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#formBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

#formBox input {
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 5px;
}

#submitButton {
    background-color: rgb(100, 200, 254);
    border-radius: 10px;
}